<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.example.demo.mapper.ActivationMapper">
 	<insert id="addActivation">
	INSERT
	INTO
	TA_RECRUIT_ACTIVATION
	(
	ACTIVATIONREGISTERNO
	,APPLICANTNO
	, ACTIVATIONNAME
	, ACTIVATIONKIND
	, ACTIVATIONCONTENT
	, ACTIVATIONROLE
	, ACTIVATIONSTARTDATE
	, ACTIVATIONENDDATE
	, ACTIVATIONORGAN
	)
	VALUES
	(
	(SELECT IFNULL(MAX(ACTIVATIONREGISTERNO),0) FROM TA_RECRUIT_ACTIVATION A)+1
	, #{applicantNo}
	, #{activationName}
	, #{activationKind}
	, #{activationContent}
	, #{activationRole}
	, #{activationStartDate}
	, #{activationEndDate}
	, #{activationOrgan}
	);
 		
 	
 	</insert>
 	
 	<select id="activationList" resultType="com.example.demo.dto.ActivationDto">
	SELECT *
	FROM
	TA_RECRUIT_ACTIVATION
	WHERE
	APPLICANTNO = #{applicantNo};
 	
 	
 	</select>
 	
 	<delete id="activationDelete">

	DELETE
	FROM
	TA_RECRUIT_ACTIVATION
	WHERE
	ACTIVATIONREGISTERNO = #{activationRegisterNo};
 	
 		
 	</delete>
 
 
 </mapper>