<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.demo.mapper.ApplyMapper">
  	<select id="typeView" resultType="com.example.demo.dto.TypeDto">
  	
  		SELECT 
  		TA_RECRUIT_TYPE.TYPENO
  		,TA_RECRUIT_TYPE.TYPENAME
  		FROM 
  		TA_RECRUIT_TYPE, 
  		TA_RECRUIT_NOTICE 
  		WHERE TA_RECRUIT_NOTICE.RECRUITNO = #{RECRUITNO}
  		AND TA_RECRUIT_NOTICE.TYPENO = TA_RECRUIT_TYPE.TYPENO
  		 
  	
  	</select>
  	
  	<select id="workView" resultType="com.example.demo.dto.WorkDto">
<!--  
  		SELECT
  		DISTINCT
  		TA_RECRUIT_WORK.workno
  		,TA_RECRUIT_WORK.workname
  		FROM 
  		TA_RECRUIT_WORK, 
  		TA_RECRUIT_APPLY,
  		TA_RECRUIT_PART 
  		WHERE 
  		TA_RECRUIT_APPLY.RECRUITNO = #{recruitNo}
  		AND TA_RECRUIT_APPLY.PARTNO = TA_RECRUIT_PART.PARTNO
  		AND TA_RECRUIT_WORK.WORKNO = TA_RECRUIT_APPLY.WORKNO;
 -->
 
 		select
		ta_recruit_work.workName

		FROM
		ta_recruit_apply

		,ta_recruit_work

		where
		ta_recruit_apply.recruitNo = #{recruitNo}

		and ta_recruit_work.workNo=ta_recruit_apply.workNo

  	
 
 
   		
  	</select>
  	
  	<select id= "partView" resultType="com.example.demo.dto.PartDto">
<!-- 
		SELECT 
		DISTINCT 
		P.PARTNO,
		P.PARTNAME 
		FROM 
		TA_RECRUIT_PART AS P
		, TA_RECRUIT_APPLY AS A 
		WHERE 
		P.PARTNO = A.PARTNO 
		AND 
		A.RECRUITNO = #{recruitNo};
 -->  	
 
  		select
		ta_recruit_part.partName

		FROM
		ta_recruit_apply

		,ta_recruit_part

		where
		ta_recruit_apply.recruitNo =2
		and ta_recruit_part.partNo=ta_recruit_apply.partNo
  	
 
 
 	
  	</select>
  	
  	<select id ="applyView" resultType="com.example.demo.dto.ApplyDto">
		select
		*

		FROM
		ta_recruit_apply

		where
		ta_recruit_apply.recruitNo = #{recruitNo}

  	
  	</select>
  	<select id="objectView" resultType="com.example.demo.dto.ObjectDto">
<!-- 
  	  	select
		ta_recruit_object.objectName

		FROM
		ta_recruit_apply
		,ta_recruit_notice
		,ta_recruit_part
		,ta_recruit_work
		,ta_recruit_object
		where
		ta_recruit_notice.recruitNo = #{recruitNo}
		and ta_recruit_part.partNo=ta_recruit_apply.partNo
		and ta_recruit_work.workNo=ta_recruit_apply.workNo
		and ta_recruit_object.objectNo=ta_recruit_apply.objectNo
    
 -->
 
		select
		ta_recruit_object.objectName

		FROM
		ta_recruit_apply

		,ta_recruit_object

		where
		ta_recruit_apply.recruitNo = #{recruitNo}
		and ta_recruit_object.objectNo=ta_recruit_apply.objectNo;
   	
  	</select>
  	
  	
  	<!-- 이미 지원한 상태, 혹은 지원 중인지를 확인하는 sql -->
  	<select id="applyChecked" resultType="int">
  		select count(*) 
  		from 
  		ta_recruit_applicant
  		, ta_recruit_notice 
  		where
		ta_recruit_notice.recruitNo = #{recruitNo}
  	 	and ta_recruit_applicant.recruitNo = ta_recruit_notice.recruitNo
  	 	and ta_recruit_applicant.applicantId= #{memberId};
  	
  	</select>
  
  
  <!-- 지원하기를 누르면 생성하는 레코드, 받아오는 값은 기본으로 memberId와 recruitNo-->
 <insert id="applicantInsert">
 	insert 
	ta_recruit_applicant(
	applicantNo
	,applicantId
	,recruitNo
	,finalApplyChecked
	)
	values(
	(SELECT IFNULL(MAX(applicantNo),1) FROM ta_recruit_applicant B)+1
	,#{memberId}
	,#{recruitNo}
	,0
	
	)
	
	
	
 		
 
 </insert> 
 
  <!-- 임시저장을 누르면 값들을 전부 update한다. -->
 <update id="applicantSaveTemp">
 	UPDATE 
 	ta_recruit_applicant
 	SET
 	applicantMillitary = #{applicantMillitary}
 	, applyNo = #{applyNo}
 	, applicantVeteran = #{applicantVeteran}
 	, applicantDisability = #{applicantDisability}
 	, applicantJobProtect = #{applicantJobProtect}
 	, applicantAssay1 = #{applicantAssay1}
  	, applicantAssay2 = #{applicantAssay2}
 	, applicantAssay3 = #{applicantAssay3} 
 	WHERE 
 	applicantNo = #{applicantNo}
 
 
 </update>

  </mapper>