<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ApplicantMapper">
	<select id="viewApplicant" resultType="com.example.demo.dto.ApplicantDto">
	SELECT *
	FROM TA_RECRUIT_APPLICANT
	WHERE
	APPLICANTID = #{memberId}
	AND
	RECRUITNO = #{recruitNo}
	
	</select>

	<delete id = "deleteApplicantNotFinalApply">
	DELETE
	FROM TA_RECRUIT_APPLICANT
	WHERE
	RECRUITNO = #{recruitNo}
	AND
	FINALAPPLYCHECKED = 0
		
	
	
	</delete>

</mapper>
  