<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.example.demo.mapper.CareerMapper">
 	<insert id="addCareer">
	INSERT INTO TA_RECRUIT_CAREER
	(
	CAREERREGISTERNO
	,APPLICANTNO
	, CAREERNAME
	, CAREERCONTRACT
	, CAREERPART
	, CAREERROLE
	, CAREERSTARTDATE
	, CAREERENDDATE
	, CAREERCONTENT
	)
	VALUES
	(
	(SELECT IFNULL(MAX(CAREERREGISTERNO),0) FROM TA_RECRUIT_CAREER C)+1
	, #{applicantNo}
	, #{careerName}
	, #{careerContract}
	, #{careerPart}
	, #{careerRole}
	, #{careerStartDate}
	, #{careerEndDate}
	, #{careerContent}
	);
 		
 	
 	</insert>
 	
 	<select id="careerList" resultType="com.example.demo.dto.CareerDto">
	SELECT * FROM
	TA_RECRUIT_CAREER
	WHERE APPLICANTNO = #{applicantNo};
 	
 	
 	</select>
 	
 	<delete id="careerDelete">

	DELETE FROM TA_RECRUIT_CAREER
	WHERE CAREERREGISTERNO = #{careerRegisterNo};
 	
 		
 	</delete>
 
 
 </mapper>