<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CertificateMapper">

	<insert id="addCertificate">
		insert into ta_recruit_certificate
		(
		certificateRegisterNo
		,applicantNo
		, certificateName
		, certificateScore
		, certificateDate
		, certificateCode
		)
		values
		(
		(SELECT IFNULL(MAX(certificateRegisterNo),1) FROM ta_recruit_certificate C)+1
		, #{applicantNo}
		, #{certificateName}
		, #{certificateScore}
		, #{certificateDate}
		, #{certificateCode}

		);



	</insert>

	<select id="certificateList"
		resultType="com.example.demo.dto.CertificateDto">

		select * from
		ta_recruit_certificate
		where applicantNo = #{applicantNo};

	</select>
	
	<delete id= "certificateDelete">
		delete from
		ta_recruit_certificate
		where certificateRegisterNo = #{certificateRegisterNo};
	
	</delete>
	
</mapper>
 