<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CertificateMapper">

	<insert id="addCertificate">
	INSERT INTO TA_RECRUIT_CERTIFICATE
	(
	CERTIFICATEREGISTERNO
	,APPLICANTNO
	, CERTIFICATENAME
	, CERTIFICATESCORE
	, CERTIFICATEDATE
	, CERTIFICATECODE
	)
	VALUES
	(
	(SELECT IFNULL(MAX(CERTIFICATEREGISTERNO),0) FROM TA_RECRUIT_CERTIFICATE C)+1
	, #{applicantNo}
	, #{certificateName}
	, #{certificateScore}
	, #{certificateDate}
	, #{certificateCode}

	);



	</insert>

	<select id="certificateList"
		resultType="com.example.demo.dto.CertificateDto">

	SELECT * FROM
	TA_RECRUIT_CERTIFICATE
	WHERE APPLICANTNO = #{applicantNo};

	</select>
	
	<delete id= "certificateDelete">
	DELETE FROM
	TA_RECRUIT_CERTIFICATE
	WHERE CERTIFICATEREGISTERNO = #{certificateRegisterNo};
	
	</delete>
	
</mapper>
 