<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.demo.mapper.CollegeMapper">
 		<insert id = "addCollege">

	INSERT
	INTO TA_RECRUIT_COLLEGE
	(
	COLLEGEREGISTERNO
	, APPLICANTNO
	, COLLEGENAME
	, COLLEGELOCATION
	, COLLEGEENTER
	, COLLEGEDEGREE
	, COLLEGEMAJOR1
	, COLLEGEDOUBLEMAJORKIND
	, COLLEGEMAJOR2
	, COLLEGESCORE
	, COLLEGESCOREMAX
	, COLLEGESTARTDATE
	, COLLEGEENDDATE
	, COLLEGEGRADUATE

	) VALUES
	(
	(SELECT IFNULL(MAX(COLLEGEREGISTERNO),0) FROM TA_RECRUIT_COLLEGE C)+1
	, #{applicantNo}
	, #{collegeName}
	, #{collegeLocation}
	, #{collegeEnter}
	, #{collegeDegree}
	, #{collegeMajor1}
	, #{collegeDoubleMajorKind}
	, #{collegeMajor2}
	, #{collegeScore}
	, #{collegeScoreMax}
	, #{collegeStartDate}
	, #{collegeEndDate}
	, #{collegeGraduate}

	);
 		
 		
 		
 		
 		
 		</insert> 
  
  		<select id ="collegeList" resultType= "com.example.demo.dto.CollegeDto">
	SELECT * FROM
	TA_RECRUIT_COLLEGE
	WHERE
	APPLICANTNO = #{applicantNo};
  		</select>
  
  
  
  		<delete id="collegeDelete">
	DELETE FROM TA_RECRUIT_COLLEGE
	WHERE
	COLLEGEREGISTERNO = #{collegeRegisterNo};
  		
  		
  		</delete>
  
  
  </mapper>