<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.demo.mapper.CollegeMapper">
 		<insert id = "addCollege"> 
 		
 		insert
 		into ta_recruit_college
 		(
 		collegeRegisterNo
 		, applicantNo
 		, collegeName
 		, collegeLocation
 		, collegeEnter
 		, collegeDegree
 		, collegeMajor1
 		, collegeDoubleMajorKind
 		, collegeMajor2
 		, collegeScore
 		, collegeScoreMax
 		, collegeStartDate
 		, collegeEndDate
 		, collegeGraduate
 		
 		) values
 		(
 		(SELECT IFNULL(MAX(collegeRegisterNo),0) FROM ta_recruit_college C)+1
 		, #{applicantNo}
 		, #{collegeName}
 		, #{collegeLocation}
 		, #{collegeEnter}
 		, #{collegeDegree}
 		, #{collegeMajor1}
 		, #{collegeDoubleMajorKind}
 		, #{collegeMajor2}
 		, #{collegeScore}
 		, #{collegeScoreMax}
 		, #{collegeStartDate}
 		, #{collegeEndDate}
 		, #{collegeGraduate}
 		
 		);
 		
 		
 		
 		
 		
 		</insert> 
  
  		<select id ="collegeList" resultType= "com.example.demo.dto.CollegeDto">
  			select * from
  			ta_recruit_college
  			where 
  			applicantNo = #{applicantNo};
  		</select>
  
  
  
  		<delete id="collegeDelete">
  			delete from ta_recruit_college
  			where 
  			collegeRegisterNo = #{collegeRegisterNo};
  		
  		
  		</delete>
  
  
  </mapper>