<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MemberMapper">
	<!-- 게시판 글 작성 -->
	<insert id="join">
	INSERT INTO
	TA_RECRUIT_MEMBER(
	MEMBERNAME
	, MEMBERBIRTH
	, MEMBERID
	, MEMBERPW
	, MEMBERROOT
	, MEMBERPHONENUMBER1
	, MEMBERPHONENUMBER2
	, MEMBERPHONENUMBER3
	, MEMBERISADMIN
	, MEMBERREGDATE
	)
	VALUES(
	#{memberName}
	, #{memberBirth}
	, #{memberId}
	, #{memberPw}
	, #{memberRoot}
	, #{memberPhoneNumber1}
	, #{memberPhoneNumber2}
	, #{memberPhoneNumber3}
	, 0
	, SYSDATE()

	)
	</insert>

	<select id="idCheck" resultType="int">

	SELECT COUNT(*) FROM TA_RECRUIT_MEMBER WHERE MEMBERID = #{memberId}

	</select>


	<!-- 로그인 -->
	<select id="memberLogin" resultType="com.example.demo.dto.MemberDto">

	SELECT
	MEMBERID
	, MEMBERNAME
	, MEMBERPW
	, MEMBERISADMIN
	, MEMBERBIRTH
	FROM
	TA_RECRUIT_MEMBER
	WHERE
	MEMBERID = #{memberId}
	AND
	MEMBERPW = #{memberPw}

	</select>


	<select id ="memberView" resultType="com.example.demo.dto.MemberDto">
	SELECT
	*
	FROM
	TA_RECRUIT_MEMBER
	WHERE
	MEMBERID = #{memberId} 
	
	</select>
	
	<select id ="memberFindPass" resultType="com.example.demo.dto.MemberDto">
	SELECT
	*
	FROM
	TA_RECRUIT_MEMBER
	WHERE
	MEMBERID = #{memberId}
	AND
	MEMBERNAME = #{memberName}
	AND
	MEMBERBIRTH = #{memberBirth}
	AND
	MEMBERPHONENUMBER1 = #{memberPhoneNumber1}
	AND
	MEMBERPHONENUMBER2 = #{memberPhoneNumber2}
	AND
	MEMBERPHONENUMBER3 = #{memberPhoneNumber3}
		
	
	</select>
	
	<update id = "newPass">
	UPDATE TA_RECRUIT_MEMBER
	SET
	MEMBERPW = #{memberPw}
	, MEMBERUPDATEDATE = SYSDATE()
	WHERE
	MEMBERID = #{memberId}
	
	
	</update>
	
	<delete id="withdraw">
	DELETE
	FROM TA_RECRUIT_MEMBER
	WHERE MEMBERID = #{memberId}
	AND MEMBERPW = #{memberPw}
	AND MEMBERNAME = #{memberName}
	AND MEMBERBIRTH = #{memberBirth}
	
	
	</delete>

	<select id="checkPass" resultType="int">
		SELECT 
		COUNT(*) 
		FROM 
		TA_RECRUIT_MEMBER 
		WHERE 
		MEMBERID = #{memberId} 
		AND 
		MEMBERPW = #{memberPw}
		
		
	</select>
</mapper>