<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MyApplyMapper">
	<select id="myApplyTitleList" resultType="com.example.demo.dto.RecruitNoticeDto">

	SELECT
	DISTINCT
	TA_RECRUIT_NOTICE.RECRUITNO
	,TA_RECRUIT_NOTICE.RECRUITNAME
	,TA_RECRUIT_NOTICE.RECRUITENDDATETIME
	,TA_RECRUIT_NOTICE.TYPENAME
	FROM
	TA_RECRUIT_APPLICANT,TA_RECRUIT_NOTICE
	WHERE TA_RECRUIT_APPLICANT.APPLICANTID = #{memberId}
	AND
	TA_RECRUIT_APPLICANT.RECRUITNO = TA_RECRUIT_NOTICE.RECRUITNO;
	
	</select>

	
	
	<!-- 지원한 이력서가 최종제출되었는 지 확인하는 select문 -->
	<select id = "myFinalApplyCheckedList" resultType="com.example.demo.dto.ApplicantDto">
	SELECT
	*
	FROM
	TA_RECRUIT_APPLICANT
	WHERE
	TA_RECRUIT_APPLICANT.APPLICANTID=
	#{MEMBERID}
	
	</select>
	
	<!-- 현재 이력서를 삭제하는 delete문 -->
	<delete id="myDeleteApply">
	DELETE
	FROM
	TA_RECRUIT_APPLICANT
	WHERE APPLICANTID= #{memberId}
	AND
	RECRUITNO = #{recruitNo}
	
	
	</delete>
	
</mapper>