<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RecruitNoticeMapper">
	
	<select id="noticeList" resultType="com.example.demo.dto.RecruitNoticeDto">

	SELECT
	DISTINCT(TA_RECRUIT_APPLY.RECRUITNO)
	,RECRUITNAME
	, TA_RECRUIT_NOTICE.RECRUITHIT
	, RECRUITSCALE
	, TYPENAME
	, RECRUITENDDATETIME
	FROM
	`TA_RECRUIT_APPLY`
	, `TA_RECRUIT_NOTICE`
	WHERE
	TA_RECRUIT_NOTICE.RECRUITNO = TA_RECRUIT_APPLY.RECRUITNO

	ORDER BY TA_RECRUIT_NOTICE.RECRUITNO DESC;
	
	
	
	</select>
	
	<!-- 리스트에 뿌려진 공고의 유형 (수시/공채)의 리스트를 불러온다.  -->
	<select id="typeList" resultType = "com.example.demo.dto.TypeDto">
	SELECT
	TA_RECRUIT_TYPE.TYPENO
	,TA_RECRUIT_TYPE.TYPENAME
	,TA_RECRUIT_NOTICE.RECRUITNAME
	FROM
	TA_RECRUIT_TYPE,
	TA_RECRUIT_NOTICE
	WHERE

	TA_RECRUIT_NOTICE.TYPENO = TA_RECRUIT_TYPE.TYPENO;
	
	
	
	</select>


	<select id="recruitNoticeView" resultType="com.example.demo.dto.RecruitNoticeDto">

	SELECT * FROM TA_RECRUIT_NOTICE WHERE RECRUITNO = #{RECRUITNO}

	</select>


	<update id="recruitNoticeHitUp">
	UPDATE TA_RECRUIT_NOTICE SET RECRUITHIT = RECRUITHIT + 1 WHERE
	RECRUITNO = #{RECRUITNO}
	
	
	</update>


	<select id="searchNoticeList" resultType="com.example.demo.dto.RecruitNoticeDto">
	SELECT * FROM TA_RECRUIT_NOTICE
	WHERE
	RECRUITNAME LIKE CONCAT('%',#{recruitName},'%')

	OR 
	RECRUITCONTENT LIKE CONCAT('%',#{recruitContent},'%') 
				
	</select>

	
</mapper>